@font-face {
  font-family: 'Cairo';
  src: url('assets/fonts/Cairo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('assets/fonts/Cairo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Cairo', Roboto, 'Helvetica Neue', sans-serif;
  background: linear-gradient(135deg, #8ac3d6 0%, #ffffff 100%) !important;
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  z-index: 999999 !important;
}

.toast-shell {
  z-index: 999999 !important;
}
